.carList-item{
  text-align: center;
}


.container{
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 1px solid #000;
  background-color: cadetblue;
  color: white;
}

.


